/*
 *  Units
 */
$btn-group-c: $g-c;
$btn-group-r: $g-r;
$btn-group-x: $g-x;
$btn-group-y: $g-y;
/*
 *  Colors
 */
$btn-group-border: transparent;
$btn-group-bg: $default__color;
/*
 * 	Base
 */
.btn-group {
	display: inline-flex;
}
.btn-group > .btn {
	border-radius: 0;
}
.btn-group > .btn:first-child {
	border-radius: $btn-group-r 0 0 $btn-group-r;
}
.btn-group > .btn:last-child {
	border-radius: 0 $btn-group-r $btn-group-r 0;
}
.btn-group > .btn:only-child {
	border-radius: $btn-group-r;
}
/*
 * 	Variations
 */
.btn-group-stacked {
    display: inline-flex;
	flex-direction: column;
}
.btn-group-stacked > .btn {
	border-radius: 0;
}
.btn-group-stacked > .btn:first-child {
	border-radius: $btn-group-r $btn-group-r 0 0;
}
.btn-group-stacked > .btn:last-child {
	border-radius: 0 0$btn-group-r $btn-group-r;
}
.btn-group-stacked > .btn:only-child {
	border-radius: $btn-group-r;
}
