/*
 *  Units
 */
$btn-c: $g-c;
$btn-r: $g-r;
$btn-x: $g-x;
$btn-y: $g-y;
/*
 *  Colors
 */
$btn-border: transparent;
$btn-bg: $default__color;
/*
 *  Base
 */
.btn {
    display: inline-flex;
    justify-content: center;
    padding: $btn-y $btn-x;
    border: 1px solid $btn-border;
    border-radius: $btn-r;
    background-color: $btn-bg;

    @include state--hover("inherit", $btn-bg, $btn-c);
    @include state--focus("inherit", $btn-bg, $btn-c);
    @include state--active("inherit", $btn-bg, ($btn-c * 2));
    @include state--class("active", "inherit", $btn-bg, ($btn-c * 2));
    @include state--class("open", "inherit", $btn-bg, ($btn-c * 2));
}
/*
 * 	Variations
 */
.btn-block {
    display: flex;
    width: 100%;
}
/*
 * 	Theme
 */
//	@include btn-color-variation($default__palette);
//	@include btn-color-variation($inverse__palette);
@include btn-color-variation($primary__palette);
//	@include btn-color-variation($neutral__palette);
//	@include btn-color-variation($state__palette);
//	@include btn-color-variation($classic__palette);
