/*
 * Units
 */
$navbar-c: $g-c;
$navbar-r: $g-r;
$navbar-x: $g-x;
$navbar-y: $g-y;
/*
 * Colors
 */
$navbar-border: transparent;
$navbar-bg: $default__color;
/*
 * Base
 */
.navbar {
    display: flex;
    background-color: $navbar-bg;
}
.navbar .dropdown,
.navbar-item {
    display: inline-flex;
    padding: $navbar-y $navbar-x;
    border: 1px solid $navbar-border;
    background-color: $navbar-bg;
}
.navbar .dropdown-toggle,
.navbar-link {
    color: inherit;

    @include state--hover("inherit", $navbar-bg, $navbar-c);
    @include state--focus("inherit", $navbar-bg, $navbar-c);
    @include state--active("inherit", $navbar-bg, ($navbar-c * 2));
	@include state--attr("aria-expanded=true", "inherit", $navbar-bg, ($navbar-c * 2));
}
.navbar-header,
.navbar-logo {
    margin-right: auto;
}
.navbar-header {
	display: flex;
}
.navbar .dropdown {
    padding: 0;
    border: 0;
    .dropdown-toggle {
        border: 1px solid $navbar-border;
        border-radius: 0;
    }
    &:last-child .dropdown-menu {
        right: 0;
        left: auto;
    }
}
/*
 * Variations
 */
.navbar-responsive {
	flex-direction: column;
	@media (min-width: $m-tablet) {
		flex-direction: row;
	}
	.navbar-toggle {
		@media (min-width: $m-tablet) {
			display: none;
		}
	}
	.navbar-item {
		flex: 1 0 auto;
	}
	.navbar-collapse, {
		display: flex;
		flex-direction: column;
		@media (min-width: $m-tablet) {
			height: initial !important;
			flex-direction: row;
		}
		&.collapse {
			display: none;
			@media (min-width: $m-tablet) {
				display: flex;
			}
		}
		&.in {
			display: flex;
		}
	}
}
/*
 * Theme
 */
//	@include navbar-color-variation($default__palette);
//	@include navbar-color-variation($inverse__palette);
//	@include navbar-color-variation($primary__palette);
//	@include navbar-color-variation($neutral__palette);
//	@include navbar-color-variation($state__palette);
//	@include navbar-color-variation($classic__palette);
