html {
    font-size: (strip-unit($g-fs) / 16) * 100%;
}
body {
	font-family: "Avenir", sans-serif;
	line-height: $g-lh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: ($g-y * 2);
	margin-bottom: $g-y;
}
ul ul,
ol ol,
ul ol,
ol ul {
	padding-left: $g-x;
}
